@charset "UTF-8";
/* CSS Document */
/*media (max-width: 1000px) and (min-width: 726px)
Phones: 320 - 767
Tablets: 768 - 1023
Desktop: 1024+ */

@media (min-width: 1024px){
body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}
/* TOP NAV */
.topnav {
	position: relative;
  	overflow: hidden;
	background: #263931;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	padding-bottom: 6em;
}
.topnav a{
	float: left;
	text-decoration: none;
	color: #FAF8E4;
	margin-left: 1em;
	}
.topnav-left a:hover {
	font-style: italic;
	}
.topnav-center a:hover{
	color: #BF8A7E;
	} 
.topnav a.active {
	text-decoration: overline;
	}
.topnav-center a {
  	float: none;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	font-family: 'Homemade Apple', cursive;
	color: #D9CAC5;
	font-style: italic;
    text-shadow: 
    -1px -1px 1px #000 2px 2px 1px #000;
}
.logo {
	background-image: url("images/logoedited.png");
	background-repeat: no-repeat;
	background-size: contain;
	clear: both;
	background-position: center;
	font-size: 1.5em;
	}
.topnav-left {
	word-spacing: 6em;
	text-transform: lowercase;
	font-size: 1.25em;
	}	
.topnav-right {
  	float: right;
	margin-right: 1.5em;
	height: .5em;
}
.fas {
	padding: .5em;
  	font-size: 1.25em;
  	width: .5em;
	height: .5em;
  	text-decoration: none;
	color: #FAF8E4;
	}
.fas:hover {
    opacity: 0.5;
}	

	
/* MAIN NAVIGATION */	
nav ul {
	list-style-type: none;
	position: center;
	}
nav ul li {
	display: inline;
	padding: 1%;
	font-family: 'Abril Fatface', cursive;
	}	
nav a {
	color: #263931;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 7rem;
	overflow: hidden;
	}
nav a:hover {
	font-style: italic;
	}
nav .fas {
	color: #263931;
	}
#about {
	background-image: url("images/car1.jpg");
	}
#home {
	background-image: url("images/car2.jpg");
	}
#contact {
	background-image: url("images/car3.jpg");
	}
	
/* FOOTER */
footer {
	font-size: .7rem;
	bottom: 0;
	clear: both;
	text-align: center;
	background: #263931;
	padding: 1.4rem;
    border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	margin-top: 3em;
	}
footer p {
	color: #FAF8E4;
	}
.fab {
	padding: .5em;
  	font-size: 2em;
  	width: .5em;
	height: .5em;
  	text-align: center;
  	text-decoration: none;
	color: #FAF8E4;
}	
.fab:hover {
    opacity: 0.5;
}	
	
/* LATEST & GREATEST */
h2 {
	font-family: 'Homemade Apple', cursive;
	text-transform: lowercase;
	color: #263931;
	text-align: left;
	}
	
.latest {
    display: inline-block;
    background-color: #ffffff;
	}
.thumbnail {
	margin: .25em;
	padding-top: 1em;
	width: 15em;
	text-align: center;
	float: left;
	border-radius: 5%;
	border-bottom: .25em solid #D9CAC5;
	border-top: .25em solid #FAF8E4;
	background-color: #F8F8F8;
	transition: all 0.3s linear;
	margin-bottom: 1.5em;
}
.thumbnail:hover {
	opacity: 0.5;
	cursor: pointer;
}
.thumbnail h4 {
	color: #895449;
	text-align: center;
	display: inline-block;
    max-height: 1rem;
    min-width: 1rem;
	font-family: 'Raleway', sans-serif;	
	text-transform: lowercase;
	font-weight: bold;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 15rem;
	max-height: 15rem;
}
.latest p {
	text-align: left;
	}
.shopall {
	font-family: 'Raleway', sans-serif;	
	text-align: left;
	margin-top: 10em;
	}
.shopall a {
	text-decoration: none;
	color: #895449;
	font-weight: bold;
	}
.shopall a:hover {
	text-decoration: underline;
	color: #BF8A7E;
	}
}